
.font-1-xxl{
    font-family: var(--fontprimary);
    font-weight: 600;
    font-size: 6.4rem;
}

.font-1-xl{
    font-family: var(--fontprimary);
    font-weight: 600;
    font-size: 3.2rem;
}

.font-1-l{
    font-family: var(--fontprimary);
    font-weight: 400;
    font-size: 2.4rem;
}

.font-2-l{
    font-family: var(--fontsecundary);
    font-weight: 400;
    font-size: 2.4rem;
}

.font-2-l-b{
    font-family: var(--fontsecundary);
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.5;
    text-transform: uppercase;
}

.font-1-m {
    font-family: var(--fontprimary);
    font-weight: 400;
    font-size: 1.8rem;
}

.font-1-m-b {
    font-family: var(--fontprimary);
    font-weight: 600;
    font-size: 1.8rem;
}

.font-2-m {
    font-family: var(--fontsecundary);
    font-weight: 500;
    font-size: 1.8rem;
}

.font-1-s {
    font-family: var(--fontprimary);
    font-weight: 400;
    font-size: 1.6rem;
}

.font-2-s {
    font-family: var(--fontsecundary);
    font-weight: 500;
    font-size: 1.6rem;
}

.font-2-xs {
    font-family: var(--fontsecundary);
    font-weight: 500;
    font-size: 1.4rem;
}

.font-1-xs {
    font-family: var(--fontprimary);
    font-weight: 600;
    font-size: 1.4rem;
}